In [1]:
import pandas as pd
import numpy as np

from scipy.stats import zscore

In [2]:
df = pd.read_csv('http://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv')

In [3]:
df.head(2)

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10809 entries, 0 to 10808
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10809 non-null  int64
 1   convention  10809 non-null  object
 2   height      8971 non-null   float64
 3   max         10809 non-null  int64
 4   cat2        10809 non-null  object
 5   number      10809 non-null  int64
 6   usage       10809 non-null  object
 7   region      10809 non-null  object
 8   length      10646 non-null  float64
 9   code        10809 non-null  object
 10  power       10809 non-null  float64
 11  item        10809 non-null  object
 12  weight      10809 non-null  int64
 13  country     10809 non-null  object
 14  target      10809 non-null  float64
dtypes: float64(4), int64(4), object(7)
memory usage: 1.2+ MB

### 1. Add a column named ratio that is max divided by number. Leave max and number in the dataframe.

In [5]:
df['ratio'] = df['max']/df['number']

In [6]:
df.head(2)

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target,ratio
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769,2.694043
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044,5.643897

### 2.Replace the cat2 column with dummy variables. e.g. 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', ...

In [7]:
df['cat2'].unique()

array(['CA-E', 'CA-A', 'CA-16', 'CA-9', 'CA-17', 'CA-1F', 'CA-22',
       'CA-18', 'CA-F', 'CA-C', 'CA-1A', 'CA-21', 'CA-3', 'CA-19',
       'CA-13', 'CA-12', 'CA-1D', 'CA-1', 'CA-24', 'CA-7', 'CA-1C',
       'CA-25', 'CA-8', 'CA-14', 'CA-1E', 'CA-23', 'CA-5', 'CA-1B',
       'CA-0', 'CA-15', 'CA-11', 'CA-10', 'CA-26', 'CA-27', 'CA-D',
       'CA-20', 'CA-4', 'CA-B', 'CA-6', 'CA-2'], dtype=object)

In [8]:
#df['cat2'] = 'cat2_' + df['cat2'].values

In [9]:
# Applying One Hot Encoding
ohe_df = pd.get_dummies(df['cat2'], prefix='cat2', dtype=int)
df = df.join(ohe_df).drop(['cat2'], axis=1)
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,1,0,0,0,0,0

In [10]:
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,cat2_CA-6,cat2_CA-7,cat2_CA-8,cat2_CA-9,cat2_CA-A,cat2_CA-B,cat2_CA-C,cat2_CA-D,cat2_CA-E,cat2_CA-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,1,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,1,0,0,0,0,0

### 3.Replace the item column with dummy variables, e.g. 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', ...

In [11]:
#df['item'] = 'item_' + df['item'].values

In [12]:
# Applying One Hot Encoding

ohe_df = pd.get_dummies(df['item'], prefix='item', dtype=int)
df = df.join(ohe_df).drop(['item'], axis=1)
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,0,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,0,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,0,0,0,0,0,0

### 4. For field length replace missing values with the median of length.

In [14]:
df['length'].isna().sum()

163

In [15]:
median = df['length'].median()
df['length'] = df['length'].replace(np.nan, median)

In [16]:
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,1,CO-1A,4284.51,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,0,0
1,2,CO-C,806.88,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df['length'].isna().sum()

0

### 5. For field height replace missing with median and convert to zscore.

In [18]:
df['height'].isna().sum()

1838

In [19]:
median_ht = df['height'].median()
df['height'] = df['height'].replace(np.nan, median_ht)
df['height'] = zscore(df['height'])

In [20]:
df.head(2)

,id,convention,height,max,number,usage,region,length,code,power,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,1,CO-1A,0.453222,44907,16669,US-7,RE-4,12471.1127,CO-B,27351.36,...,0,0,0,0,0,0,0,0,0,0
1,2,CO-C,-1.482176,48831,8652,US-20,RE-15,10035.7085,CO-E,42323.89,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove all other columns and show only selected columns
cols_lst = ['height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14', 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19', 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E', 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22', 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27', 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7', 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C', 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14', 'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19', 'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E', 'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6', 'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B', 'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F']

In [21]:
df.columns

Index(['id', 'convention', 'height', 'max', 'number', 'usage', 'region',
       'length', 'code', 'power', 'weight', 'country', 'target', 'ratio',
       'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12',
       'cat2_CA-13', 'cat2_CA-14', 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17',
       'cat2_CA-18', 'cat2_CA-19', 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C',
       'cat2_CA-1D', 'cat2_CA-1E', 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20',
       'cat2_CA-21', 'cat2_CA-22', 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25',
       'cat2_CA-26', 'cat2_CA-27', 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5',
       'cat2_CA-6', 'cat2_CA-7', 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A',
       'cat2_CA-B', 'cat2_CA-C', 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F',
       'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12',
       'item_IT-13', 'item_IT-14', 'item_IT-15', 'item_IT-16', 'item_IT-17',
       'item_IT-18', 'item_IT-19', 'item_IT-1A', 'item_IT-1B', 'item_IT-1C',
       'item_IT-1D', 'item_IT-1E', 'item_IT-2', 'item_IT-3', 'item_IT-4',
       'item_IT-5', 'item_IT-6', 'item_IT-7', 'item_IT-8', 'item_IT-9',
       'item_IT-A', 'item_IT-B', 'item_IT-C', 'item_IT-D', 'item_IT-E',
       'item_IT-F'],
      dtype='object')

In [22]:
cols_lst = ['height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14', 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19', 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E', 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22', 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27', 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7', 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C', 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14', 'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19', 'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E', 'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6', 'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B', 'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F']
df = df[cols_lst]

In [23]:
df.head(2)

,height,max,number,length,ratio,cat2_CA-0,cat2_CA-1,cat2_CA-10,cat2_CA-11,cat2_CA-12,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,0.453222,44907,16669,12471.1127,2.694043,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1.482176,48831,8652,10035.7085,5.643897,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0