## SQL

### Passing regex for voval starting string

    select distinct CITY
    from STATION
    where CITY REGEXP '^[aeiou]'

### ORDER BY
- Can add RIGHT(Col_name,spaces) --> RIGHT(NAME,2) - will check last two character for string in NAME

### Calculate median
- use rowindex for getting each line index 

SET @rowindex := -1 
SELECT AVG(g.col) as Median 
FROM (SELECT @rowindex:=@rowindex +1 as rowindex, col_on_median FROM table ORDER BY col_on_median) as g 
WHERE g.rowindex IN (FLOOR(@rowindex/2), CEIL(@rowindex/2))

## Window Functions
- Calculation on set of rows.

### OVER()

General syntax: 
```
window_function_name ( expression ) OVER ( -- window_function_name could be ROW_NUMBER(), RANK(), SUM() and expression could be target column 
    partition_clause -- PARTITION BY expr1, expr2, expr3.... 
    order_clause -- ORDER BY expression [ASC | DESC] [NULL {FIRST|LAST}], .... 
    frame_clause -- {RANGE|ROWS} frame_start 
                    {RANGE|ROWS} BETWEEN frame_start AND frame_end       
)
```

### Types of windows functions:
- Value window functions
    - FIRST_VALUE()
    
- Ranking window functions

- Aggregate window functions

### FIRST_VALUE()

- will return first value in an ordered set of values
- example: [FIRST_VALUE](window_func_practice.sql)